Repository lucasaas98/youtube_cuck, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, backend, frontend, nginx_server, docs, deps

.github/labeler.yml:

ci:
- .github/**
- backend/Dockerfile
- frontend/Dockerfile
- nginx_server/Dockerfile
- docker-compose.dev.yml
- docker-compose.prod.yml

backend:
- backend/**

frontend:
- frontend/**

nginx_server:
- nginx_server/**

docs:
- README.md
- backend/alembic/README

deps:
- backend/requirements.txt
- frontend/requirements.txt

fix: download concurrency reduction
  backend/backend/download_service.py
Labels: backend

feat: preload first videos
  backend/backend/download_service.py
  backend/backend/repo.py
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/video_filters.js
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/utils.py
Labels: backend, frontend

fix: formatting
  backend/backend/download_service.py
  backend/backend/repo.py
  frontend/frontend/templates/yt_cuck.html
Labels: backend, frontend

feat: links to video and channel in download page
  Makefile
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/templates/downloads.html
Labels: frontend

chore: small stuff
  Makefile
  backend/Dockerfile
  backend/backend/utils.py
  backend/requirements.txt
  frontend/frontend/static/cuck_video.css
  frontend/requirements.txt
Labels: ci, backend, frontend, deps

fix: shorts and history navigation
  frontend/frontend/main.py
  frontend/frontend/static/video_filters.js
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_playlist_videos.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/downloads.html
  frontend/frontend/templates/pagination.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
Labels: frontend

docs: agents
  .gitignore
  AGENTS.md
Labels: none

chore: formatting
  .gitignore
  backend/alembic/versions/2023_09_30_1813-10354a99f503_.py
  backend/backend/utils.py
Labels: backend

fix: shorts history navigation (#26)
  .gitignore
  AGENTS.md
  backend/alembic/versions/2023_09_30_1813-10354a99f503_.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/static/video_filters.js
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_playlist_videos.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/downloads.html
  frontend/frontend/templates/pagination.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
Labels: backend, frontend

fix: fail download job when video info extraction fails
  backend/backend/download_service.py
Labels: backend

fix: recover download jobs orphaned in downloading status on restart
  backend/backend/repo.py
  backend/backend/server.py
Labels: backend

feat: cancel in-progress download jobs
  backend/backend/download_service.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
Labels: backend

feat: cancel button and cancelled status in downloads page
  frontend/frontend/main.py
  frontend/frontend/templates/downloads.html
  frontend/frontend/utils.py
Labels: frontend

chore: reformat alembic migration file for black
  backend/alembic/versions/2023_09_30_1813-10354a99f503_.py
Labels: backend

feat(frontend): responsive widescreen grid, full thumbnails, per-page pagination
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/video_filters.js
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/pagination.html
  frontend/frontend/utils.py
Labels: frontend

feat(frontend): grid-aligned page size and full-width compact filter bar
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/pagination.html
  frontend/frontend/utils.py
Labels: frontend

feat(frontend): widen downloads monitor to 2000px
  frontend/frontend/templates/downloads.html
Labels: frontend

feat: subscriptions page as channel card grid with avatars and descriptions
  backend/alembic/versions/2026_08_30_1416-e4a9fe9674f8_add_channel_avatar_and_description.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backfill_channels.py
  frontend/frontend/main.py
  frontend/frontend/models.py
  frontend/frontend/repo.py
  frontend/frontend/static/add_channel_modal.js
  frontend/frontend/static/cuck_subs.css
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/utils.py
  nginx_server/nginx.conf
Labels: backend, frontend, nginx_server

fix: fetch channel avatar via /about tab
  backend/backend/utils.py
  backend/backfill_channels.py
Labels: backend

feat(frontend): channel avatar on video cards
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
Labels: frontend

feat: sync OPML channels into registry; wide multi-column channel page
  backend/sync_opml_channels.py
  frontend/frontend/static/playlist.css
Labels: backend, frontend

fix: strip channel ids parsed from OPML
  backend/sync_opml_channels.py
Labels: backend

ci: pin linter versions
  backend/requirements.txt
  frontend/requirements.txt
Labels: backend, frontend, deps
