Repository lucasaas98/youtube_cuck, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, backend, frontend, nginx_server, docs, deps

.github/labeler.yml:

ci:
- .github/**
- backend/Dockerfile
- frontend/Dockerfile
- nginx_server/Dockerfile
- docker-compose.dev.yml
- docker-compose.prod.yml

backend:
- backend/**

frontend:
- frontend/**

nginx_server:
- nginx_server/**

docs:
- README.md
- backend/alembic/README

deps:
- backend/requirements.txt
- frontend/requirements.txt

fix(channel): fix when none
  frontend/frontend/utils.py
Labels: frontend

fix(channel): fix when none (#20)
  frontend/frontend/utils.py
Labels: frontend

trying something
  backend/alembic/versions/2024_01_27_1429-979c997e319a_add_channels.py
  backend/backend/backfills.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/utils.py
Labels: backend

add flake8
  Makefile
  backend/alembic/env.py
  backend/alembic/versions/2023_09_23_1536-df8424836a65_added_all_models.py
  backend/alembic/versions/2024_01_27_1429-979c997e319a_add_channels.py
  backend/backend/backfills.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  backend/requirements.txt
  frontend/frontend/engine.py
  frontend/frontend/templates/cuck_video.html
  frontend/requirements.txt
Labels: backend, frontend, deps

consistency between action and makefile
  .github/workflows/lint.yml
  Makefile
Labels: ci

lfg
  Makefile
Labels: none

slower but more complete
  .github/workflows/lint.yml
Labels: ci

gigigigigigigigigiigigigiigigigi
  Makefile
Labels: none

add cache
  .github/workflows/lint.yml
Labels: ci

format
  backend/alembic/versions/2023_09_23_1536-df8424836a65_added_all_models.py
  backend/alembic/versions/2023_09_30_1813-10354a99f503_.py
  backend/alembic/versions/2023_10_01_1454-6660e982e159_add_indexes.py
  backend/alembic/versions/2023_10_08_1123-2e1c604a1cda_add_size_to_videos.py
  backend/alembic/versions/2023_10_08_1959-943c19b1f235_add_mostrecentvideo_mark_as_.py
  backend/alembic/versions/2023_10_21_1739-9a5bfc0e48cc_add_keep_field_to_videos.py
  backend/alembic/versions/2024_01_27_1429-979c997e319a_add_channels.py
Labels: backend

try this garbage
  frontend/frontend/templates/cuck_video.html
Labels: frontend

asd
  frontend/frontend/templates/cuck_video.html
Labels: frontend

lmao almaosasodk
  frontend/frontend/templates/cuck_video.html
Labels: frontend

jesus christ
  frontend/frontend/templates/cuck_video.html
Labels: frontend

what a shitty formatter I want to die
  frontend/frontend/templates/cuck_video.html
Labels: frontend

asd
  .github/workflows/lint.yml
Labels: ci

very cool and pog
  backend/backend/backfills.py
Labels: backend

run on main as well for cache to work
  .github/workflows/lint.yml
Labels: ci

feat: add channels and backfill them (#21)
  .github/workflows/lint.yml
  Makefile
  backend/alembic/env.py
  backend/alembic/versions/2023_09_23_1536-df8424836a65_added_all_models.py
  backend/alembic/versions/2023_09_30_1813-10354a99f503_.py
  backend/alembic/versions/2023_10_01_1454-6660e982e159_add_indexes.py
  backend/alembic/versions/2023_10_08_1123-2e1c604a1cda_add_size_to_videos.py
  backend/alembic/versions/2023_10_08_1959-943c19b1f235_add_mostrecentvideo_mark_as_.py
  backend/alembic/versions/2023_10_21_1739-9a5bfc0e48cc_add_keep_field_to_videos.py
  backend/alembic/versions/2024_01_27_1429-979c997e319a_add_channels.py
  backend/backend/backfills.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  backend/requirements.txt
  frontend/frontend/engine.py
  frontend/frontend/templates/cuck_video.html
  frontend/requirements.txt
Labels: ci, backend, frontend, deps

lfg
  frontend/frontend/static/video_player.js
Labels: frontend

feat(controls): remove default chrome video controls (#22)
  frontend/frontend/static/video_player.js
Labels: frontend

fix(player): shortcuts if video in focus
  frontend/frontend/static/video_player.js
Labels: frontend

fix(player): shortcuts if video in focus (#23)
  frontend/frontend/static/video_player.js
Labels: frontend

chore: add migrate make commands
  Makefile
  frontend/.migrate.env
Labels: frontend

chore: add migrate make commands (#24)
  Makefile
  frontend/.migrate.env
Labels: frontend

feat: keyboard controls
  Makefile
  backend/.prod_less.env
  backend/.prod_vpn.env
  backend/backend/constants.py
  backend/backend/server.py
  backend/backend/utils.py
  docker-compose.prod.yml
  docker-compose.prod_less.yml
  frontend/.prod_less.env
  frontend/.prod_vpn.env
  frontend/frontend/main.py
  frontend/frontend/static/keyboard_controls.js
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: ci, backend, frontend

fix: formatting
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/utils.py
Labels: backend, frontend

fix: linting
  backend/backend/server.py
  backend/backend/utils.py
Labels: backend

feat: keyboard controls (#25)
  Makefile
  backend/.prod_less.env
  backend/.prod_vpn.env
  backend/backend/constants.py
  backend/backend/server.py
  backend/backend/utils.py
  docker-compose.prod.yml
  docker-compose.prod_less.yml
  frontend/.prod_less.env
  frontend/.prod_vpn.env
  frontend/frontend/main.py
  frontend/frontend/static/keyboard_controls.js
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: ci, backend, frontend

feat: UI updates
  .gitignore
  backend/Dockerfile2
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/base.css
  frontend/frontend/static/cuck_channel.css
  frontend/frontend/static/cuck_subs.css
  frontend/frontend/static/cuck_video.css
  frontend/frontend/static/hamburger_menu.js
  frontend/frontend/static/keyboard_controls.js
  frontend/frontend/static/no-thumbnail.svg
  frontend/frontend/static/playlist.css
  frontend/frontend/static/video_player.js
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_playlist_videos.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: backend, frontend

feat: better channel adding with preview, pagination, some css stuff
  Makefile
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/add_channel_modal.js
  frontend/frontend/static/cuck_channel.css
  frontend/frontend/static/cuck_subs.css
  frontend/frontend/static/cuck_video.css
  frontend/frontend/static/playlist.css
  frontend/frontend/static/video_player.js
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist_videos.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
  subscription_manager
Labels: backend, frontend

fix: formatting
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_playlist_videos.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: backend, frontend

feat: download error handling
  backend/Dockerfile
  backend/backend/download_config.py
  backend/backend/download_monitor.py
  backend/backend/error_reporter.py
  backend/backend/recovery_manager.py
  backend/backend/server.py
  backend/backend/utils.py
  backend/requirements.txt
  frontend/frontend/main.py
  frontend/frontend/static/base.css
  frontend/frontend/static/download_status_widget.js
  frontend/frontend/static/stats.css
  frontend/frontend/static/stats.js
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/pagination.html
  frontend/frontend/templates/stats.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: ci, backend, frontend, deps

feat: pagination page
  frontend/frontend/templates/pagination.html
Labels: frontend

feat(video): auto scroll into view when played
  Makefile
  backend/backend/utils.py
  frontend/frontend/static/video_player.js
Labels: backend, frontend

fix: formatting
  Makefile
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_playlist_videos.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/pagination.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: backend, frontend

fix: formatting
  Makefile
  backend/backend/server.py
  frontend/frontend/main.py
Labels: backend, frontend

feat: homepage search, filtering, sorting
  backend/backend/repo.py
  backend/backend/server.py
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/mobile_filter_toggle.js
  frontend/frontend/static/video_filters.js
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/pagination.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/utils.py
Labels: backend, frontend

feat: download queue and page
  backend/alembic/versions/2025_08_24_2348-3fed6076c66a_add_download_job_table_for_async_.py
  backend/backend/download_service.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_playlist_videos.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/downloads.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: backend, frontend

fix: lint lol
  backend/backend/download_service.py
Labels: backend
