Repository lucasaas98/youtube_cuck, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, backend, frontend, nginx_server, docs, deps

.github/labeler.yml:

ci:
- .github/**
- backend/Dockerfile
- frontend/Dockerfile
- nginx_server/Dockerfile
- docker-compose.dev.yml
- docker-compose.prod.yml

backend:
- backend/**

frontend:
- frontend/**

nginx_server:
- nginx_server/**

docs:
- README.md
- backend/alembic/README

deps:
- backend/requirements.txt
- frontend/requirements.txt

feat(db-performance): add indexes to YoutubeVideo
  backend/alembic/versions/2023_10_01_1454-6660e982e159_add_indexes.py
  backend/backend/models.py
  frontend/frontend/models.py
  frontend/frontend/repo.py
Labels: backend, frontend

format
  backend/alembic/versions/2023_10_01_1454-6660e982e159_add_indexes.py
  backend/backend/models.py
  frontend/frontend/models.py
Labels: backend, frontend

ci: updater linter
  .github/workflows/lint.yml
Labels: ci

fix: linter yml
  .github/workflows/lint.yml
Labels: ci

fix and test
  .github/workflows/lint.yml
  backend/backend/server.py
Labels: ci, backend

format
  backend/backend/server.py
Labels: backend

feat(db-performance): add indexes to YoutubeVideo (#6)
  .github/workflows/lint.yml
  backend/alembic/versions/2023_10_01_1454-6660e982e159_add_indexes.py
  backend/backend/models.py
  frontend/frontend/models.py
  frontend/frontend/repo.py
Labels: ci, backend, frontend

feat(cache): adds in memory caching for the 20 most recent videos
  backend/backend/repo.py
  frontend/frontend/cache.py
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/templates/cuck_video.html
Labels: backend, frontend

feat: add size field and backfill
  backend/alembic/versions/2023_10_08_1123-2e1c604a1cda_add_size_to_videos.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/models.py
Labels: backend, frontend

feat: add size field and backfill (#7)
  backend/alembic/versions/2023_10_08_1123-2e1c604a1cda_add_size_to_videos.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/models.py
Labels: backend, frontend

fix(livestreams): use inserted_at for query
  Makefile
  backend/backend/repo.py
Labels: backend

fix(livestreams): use inserted_at for query (#8)
  Makefile
  backend/backend/repo.py
Labels: backend

feat(download): use yt-dlp lib
  Makefile
  backend/backend/utils.py
Labels: backend

feat(download): use yt-dlp lib (#9)
  Makefile
  backend/backend/utils.py
Labels: backend

fix(size): update when fetching live as well
  backend/backend/utils.py
Labels: backend

fix(size): update when fetching live as well (#10)
  backend/backend/utils.py
Labels: backend

feat(homepage): add progress bar and size
  Makefile
  backend/requirements.txt
  frontend/frontend/main.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/requirements.txt
Labels: backend, frontend, deps

add to page as well
  frontend/frontend/main.py
  frontend/frontend/templates/yt_cuck_page.html
Labels: frontend

make: add deploy
  Makefile
Labels: none

format
  frontend/frontend/main.py
  frontend/frontend/templates/yt_cuck_page.html
Labels: frontend

feat(homepage): add progress bar and size (#11)
  Makefile
  backend/requirements.txt
  frontend/frontend/main.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_playlist.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/requirements.txt
Labels: backend, frontend, deps

feat: add continue watching feature
  Makefile
  backend/alembic/versions/2023_10_08_1959-943c19b1f235_add_mostrecentvideo_mark_as_.py
  backend/backend/models.py
  frontend/frontend/main.py
  frontend/frontend/models.py
  frontend/frontend/repo.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
Labels: backend, frontend

feat: add continue watching feature (#12)
  Makefile
  backend/alembic/versions/2023_10_08_1959-943c19b1f235_add_mostrecentvideo_mark_as_.py
  backend/backend/models.py
  frontend/frontend/main.py
  frontend/frontend/models.py
  frontend/frontend/repo.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
Labels: backend, frontend

feat: add history, update styling
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/cuck_channel.css
  frontend/frontend/static/cuck_subs.css
  frontend/frontend/static/cuck_video.css
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
Labels: frontend

feat: add history, update styling (#13)
  frontend/frontend/main.py
  frontend/frontend/repo.py
  frontend/frontend/static/cuck_channel.css
  frontend/frontend/static/cuck_subs.css
  frontend/frontend/static/cuck_video.css
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/cuck_channel.html
  frontend/frontend/templates/cuck_subs.html
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
Labels: frontend

feat: create frontend utils, update css
  frontend/frontend/main.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/utils.py
Labels: frontend

feat: create frontend utils, update css (#14)
  frontend/frontend/main.py
  frontend/frontend/static/yt_cuck.css
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/utils.py
Labels: frontend

feat: deal with shorts, smaller player
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/utils.py
Labels: frontend

fix: add in correct place
  frontend/frontend/main.py
  frontend/frontend/utils.py
Labels: frontend

format
  frontend/frontend/utils.py
Labels: frontend

feat: deal with shorts, smaller player (#15)
  frontend/frontend/main.py
  frontend/frontend/templates/cuck_video.html
Labels: frontend

fix: home pagination
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/templates/yt_cuck_page.html
Labels: backend, frontend

actual fix
  frontend/frontend/templates/yt_cuck_page.html
Labels: frontend

fix: home pagination (#16)
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/templates/yt_cuck_page.html
Labels: backend, frontend

fix(livestream): fetch and overwrite
  backend/.migrate.env
  backend/backend/constants.py
  backend/backend/repo.py
  backend/backend/utils.py
  frontend/frontend/templates/yt_cuck_page.html
Labels: backend, frontend

fix(livestream): fetch and overwrite (#17)
  backend/.migrate.env
  backend/backend/constants.py
  backend/backend/repo.py
  backend/backend/utils.py
  frontend/frontend/templates/yt_cuck_page.html
Labels: backend, frontend

Update README.md
  README.md
Labels: docs

chore: update readme (#18)
  README.md
Labels: docs

feat: ability to keep indefinitely and unkeep
  .gitignore
  Makefile
  README.md
  backend/alembic/versions/2023_10_21_1739-9a5bfc0e48cc_add_keep_field_to_videos.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/models.py
  frontend/frontend/repo.py
  frontend/frontend/static/cuck_video.css
  frontend/frontend/static/keep.js
  frontend/frontend/static/livestream-coming.png
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: backend, frontend, docs

feat: ability to keep indefinitely and unkeep (#19)
  .gitignore
  Makefile
  README.md
  backend/alembic/versions/2023_10_21_1739-9a5bfc0e48cc_add_keep_field_to_videos.py
  backend/backend/models.py
  backend/backend/repo.py
  backend/backend/server.py
  backend/backend/utils.py
  frontend/frontend/main.py
  frontend/frontend/models.py
  frontend/frontend/repo.py
  frontend/frontend/static/cuck_video.css
  frontend/frontend/static/keep.js
  frontend/frontend/static/livestream-coming.png
  frontend/frontend/templates/cuck_video.html
  frontend/frontend/templates/yt_cuck.html
  frontend/frontend/templates/yt_cuck_page.html
  frontend/frontend/utils.py
Labels: backend, frontend, docs
